---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=madie.bernhard%40lueilwitzlittel.io&card=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AbuJ3dPumlU1ox",
          "object": "customer",
          "account_balance": 0,
          "created": 1494129378,
          "currency": null,
          "default_source": "card_1AGgVKGXpxGLtyRZG8QekHbN",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "madie.bernhard@lueilwitzlittel.io",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AGgVKGXpxGLtyRZG8QekHbN",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AbuJ3dPumlU1ox",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "lDX58NyMrxeFQZLt",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AbuJ3dPumlU1ox/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AbuJ3dPumlU1ox/subscriptions"
          }
        }
  recorded_at: Sun, 07 May 2017 03:56:18 GMT
recorded_with: VCR 3.0.3
