---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=deion%40hills.co&card=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Bv7lXtaQFh5kbl",
          "object": "customer",
          "account_balance": 0,
          "created": 1512861248,
          "currency": null,
          "default_source": "card_1BXHWGGXpxGLtyRZ1HdR8ZQ4",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "deion@hills.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BXHWGGXpxGLtyRZ1HdR8ZQ4",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Bv7lXtaQFh5kbl",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "lDX58NyMrxeFQZLt",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Bv7lXtaQFh5kbl/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Bv7lXtaQFh5kbl/subscriptions"
          }
        }
  recorded_at: Sat, 09 Dec 2017 23:14:09 GMT
recorded_with: VCR 4.0.0
