$("body").html("<header><section class='row' id='top-header'><div class='col-md-1'><h1><a href='/'>MyFLIX</a> </h1> </div> </section> </header>");
$("body").append("<%= j(render partial: 'new') %>");
Turbolinks.clearCache();
