---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=example%40gmail.com&card=tok_1AGgVFGXpxGLtyRZDRZB2TMT
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_AbuJomg32BEXNR",
          "object": "customer",
          "account_balance": 0,
          "created": 1494129373,
          "currency": null,
          "default_source": "card_1AGgVFGXpxGLtyRZdV02Wwmn",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "example@gmail.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1AGgVFGXpxGLtyRZdV02Wwmn",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": "90210",
                "address_zip_check": "pass",
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AbuJomg32BEXNR",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 1,
                "exp_year": 2020,
                "fingerprint": "lDX58NyMrxeFQZLt",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_AbuJomg32BEXNR/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_AbuJomg32BEXNR/subscriptions"
          }
        }
  recorded_at: Sun, 07 May 2017 03:56:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_AbuJomg32BEXNR&plan=basic_plan_id
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_AbuJ4qtoQjwzqW",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1494129374,
          "current_period_end": 1496807774,
          "current_period_start": 1494129374,
          "customer": "cus_AbuJomg32BEXNR",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_1AGgVGGXpxGLtyRZMvgUC0K2",
                "object": "subscription_item",
                "created": 1494129375,
                "plan": {
                  "id": "basic_plan_id",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447988118,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "basic",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_AbuJ4qtoQjwzqW"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic_plan_id",
            "object": "plan",
            "amount": 999,
            "created": 1447988118,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "basic",
            "statement_descriptor": "MyFlix Subscription",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1494129374,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sun, 07 May 2017 03:56:14 GMT
recorded_with: VCR 3.0.3
