%section.forgot_password
  %header.text-center
    %h1 Forgot Password?
    %p We will send you an email with a link that you can use to reset your password.
  .row
    .col-sm-6.col-sm-offset-3
      = form_tag forgot_passwords_path do
        .form-group
          = label_tag :email, "Email Address"
          = text_field_tag :email, nil, class: "form-control"
        .form-group.action
          = submit_tag "Send Email", class: "btn btn-primary"
