---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1AHK8XGXpxGLtyRZgXfUWmeu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1AHK8XGXpxGLtyRZgXfUWmeu",
          "object": "event",
          "api_version": "2017-04-06",
          "created": 1494281725,
          "data": {
            "object": {
              "id": "ch_1AHK8XGXpxGLtyRZ5hhUf6Tt",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1494281725,
              "currency": "usd",
              "customer": "cus_AcCPCYLTWeH2pw",
              "description": "",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "on_behalf_of": null,
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_1AHK8XGXpxGLtyRZ5hhUf6Tt/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_1AHK8AGXpxGLtyRZ540lKB4B",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_AcCPCYLTWeH2pw",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 5,
                "exp_year": 2018,
                "fingerprint": "XHMbPWoae4dMr1vt",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed",
              "transfer_group": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_AcZHUhxIegmkZ4",
          "type": "charge.failed"
        }
  recorded_at: Mon, 08 May 2017 22:25:48 GMT
recorded_with: VCR 3.0.3
