---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=999&currency=usd&source=tok_chargeDeclined&description=An+invalid+charge
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "decline_code": "generic_decline",
            "charge": "ch_1BXHW5GXpxGLtyRZtDu68BIn"
          }
        }
  recorded_at: Sat, 09 Dec 2017 23:13:57 GMT
recorded_with: VCR 4.0.0
