.videos.row
  - @videos.each do |video|
    .video.video.col-xs-6.col-sm-3.col-md-2
      .custom_thumb
        = link_to(video_path(video.id)) do
          = image_tag video.photos.first.try(:image_url, public: true)
