%section.site_title.text-center
  %h1
    Unlimited Movies for Only 9.99 a Month.
  %h1
    = link_to "Sign Up Now!", register_path
  %p.sign_up
    Have an account? Please
    = link_to "Sign In", login_path
