---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=orlo%40walker.info&card=tok_chargeDeclined
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Sat, 09 Dec 2017 23:14:05 GMT
recorded_with: VCR 4.0.0
