---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=merl%40hicklekunde.org&card=tok_visa
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Bv7lepZI61fjoN",
          "object": "customer",
          "account_balance": 0,
          "created": 1512861243,
          "currency": null,
          "default_source": "card_1BXHWBGXpxGLtyRZjJorrD3i",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "merl@hicklekunde.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BXHWBGXpxGLtyRZjJorrD3i",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Bv7lepZI61fjoN",
                "cvc_check": null,
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2019,
                "fingerprint": "lDX58NyMrxeFQZLt",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Bv7lepZI61fjoN/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Bv7lepZI61fjoN/subscriptions"
          }
        }
  recorded_at: Sat, 09 Dec 2017 23:14:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_Bv7lepZI61fjoN&plan=basic_plan_id
    headers:
      Authorization:
      - Bearer sk_test_yGFEJfYxnx1GBParGqjGM8RE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2017-04-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_Bv7luX58Wu6qeG",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1512861244,
          "current_period_end": 1515539644,
          "current_period_start": 1512861244,
          "customer": "cus_Bv7lepZI61fjoN",
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Bv7l4sMXiajHsN",
                "object": "subscription_item",
                "created": 1512861244,
                "metadata": {},
                "plan": {
                  "id": "basic_plan_id",
                  "object": "plan",
                  "amount": 999,
                  "created": 1447988118,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "basic",
                  "statement_descriptor": "MyFlix Subscription",
                  "trial_period_days": null
                },
                "quantity": 1
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_Bv7luX58Wu6qeG"
          },
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "basic_plan_id",
            "object": "plan",
            "amount": 999,
            "created": 1447988118,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "basic",
            "statement_descriptor": "MyFlix Subscription",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1512861244,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Sat, 09 Dec 2017 23:14:04 GMT
recorded_with: VCR 4.0.0
