@import "variables"

article.video_category
  margin-bottom: 0
  padding: 20px 10px, 0px, 10px
  header
    margin-bottom: 0
    h3
      font-size: 18px
      margin-left: 15px
      a
        color: black

section.video_index
  background-color: #F7F7F7
  padding-top: 15px
  min-height: $min-height
